<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NateWebber.dev</title>
    <link rel="stylesheet" href="styles/style-index.css">
</head>

<body>
    <div class="body-container">
        <div class="navbar">
            <a id="TitleLink" class="navbar-link" href="/">NateWebber.dev</a>
            <a class="navbar-link" href="/">Home</a>
            <a class="navbar-link" href="/blog">Blog</a>
            <a class="navbar-link" href="/projects">Projects</a>
            <a class="navbar-link" href="http://github.com/NateWebber">Github</a>
            <a class="navbar-link" href="http://linkedin.com/in/nathaniel-webber">LinkedIn</a>
            <a class="navbar-link" href="https://nuz-dev.itch.io/">itch.io</a>
        </div>
        <div class="panels-container">
            <div class="title-panel">
                <div class="info-container">
                    <h1 id="BigTitle">Nate Webber</h1>
                    <h2 id="BigSubtitle">Developer</h2>
                    <h3 class="tagline">University of Rochester 2023</h3>
                    <h3 class="tagline">Computer Science & Philosophy</h3>
                </div>
                <p>Update 4/16/22: Be sure to check out the new <a href="/projects">"Projects"</a> section!</p>

            </div>
        </div>
    </div>
</body>

</html>